/*div
{
    color: red;
}
#userName{
    font-size: 30px;
    color: green;
}
#user
{
    font-size: 20px;
    color: blue;
}
.newclass
{
    border: 1px solid;
}*/
.abc{
    padding: 16px;
    border: 2px solid;
 margin-top: 0%;
}