/* element,class,pseudo */

p{
    color: rgb(0, 255, 17);
    font-size: 30px;
    border: 1px solid red;
}

.user{
    color: pink;
    font-size: 20px;
}

.user:hover{
    color: red;
    font-size: 50px;
}